* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1b1b; 
    color: #f5f5f5; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

section {
    scroll-margin-top: 4em;
}
/* VilÃĄgos tÃĐma */
body.light-theme {
    background-color: #ffffff; 
    color: #333333; 
}

/* NavigÃĄciÃģs sÃĄv */
nav {
    background-color: #333; /* SÃķtÃĐt tÃĐma hÃĄttÃĐr */
    padding: 10px 0;
    transition : none; /* EltÃĄvolÃ­tja az animÃĄciÃģt */
}

/* VilÃĄgos tÃĐma navigÃĄciÃģs sÃĄv */
body.light-theme nav {
    background-color: #f4f4f4; /* VilÃĄgos tÃĐma hÃĄttÃĐr */
    transition: none; /* EltÃĄvolÃ­tja az animÃĄciÃģt */
}

/* Nav elemek stÃ­lusai */
nav ul {
    position: relative;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5; /* AlapÃĐrtelmezett sÃķtÃĐt tÃĐma betÅąszÃ­ne */
    font-size: 1rem;
    padding: 8px 15px;
    transition: color 0.3s ease, transform 0.3s ease; /* AnimÃĄciÃģ hozzÃĄadÃĄsa a szÃ­n- ÃĐs mÃĐretvÃĄltozÃĄshoz */
}

body.light-theme nav ul li a {
    color: #333; /* VilÃĄgos tÃĐma linkek szÃ­ne */
}

/* Hover-effektus a nav elemein */
nav ul li a:hover {
    color: #33b864; /* SzÃ­nvÃĄltozÃĄs hoverkor */
    transform: scale(1.1); /* Finom nagyÃ­tÃĄs hoverkor */
    letter-spacing: 1px; /* BetÅąkÃķz nÃķvelÃĐs */
}

.language-btn {
    padding: 10px 20px;
    background-color: #33b864;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.language-btn:hover {
    background-color: #ff4949;
    transform: translateY(-2px);
}

.language-btn:active {
    transform: translateY(1px);
}

.section {
    padding: 40px 20px;
    animation: slideInRight 0.8s ease-in-out;
}

.section-box {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #33b864;
}

/* About szakasz */
.about-container {
    line-height: 1.7;
    font-size: 1.2rem;
    margin: 5rem 0;
    text-align: left;
}

.about-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #33b864;
}

.about-container p {
    margin: 0 0 1rem 0;
}

.about-container img {
    float: left;
    margin: 0 2rem;
    border-radius: 50%;
    max-width: 20%;
}

a {
    color: #33b864;
}

body.light-theme a {
    color: #33b864;
}

/* Projects rÃĐsz */
.project {
    background-color: #2c2c2c;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    animation: fadeInZoom 0.8s ease;
    width: 1000px;
    position: relative;
    display: flex;
    margin-left: 24%;
    padding-left: 3.5%;
}

.project .card{
    margin-right: 10%;

}

#project-title{
    margin-left: 26%;
    position: relative;
}

/* Skills rÃĐsz */
.skill {
    margin-bottom: 15px;
}

.progress-bar {
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
}

body.light-theme .progress-bar {
    background-color: #ddd;
}

.progress {
    height: 15px;
    background-color: #33b864;
    border-radius: 10px;
}

/* Contact rÃĐsz */
.contact-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-buttons a {
    margin: 8px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-buttons a:hover {
    background-color: #33b864;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

body.light-theme .contact-buttons a {
    background-color: #f4f4f4;
    color: #333;
}

/* Footer */
footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}

body.light-theme footer {
    background-color: #f4f4f4;
    color: #333;
}

/* Vissza a tetejére gomb */
#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#backToTop:hover {
    background-color: #555;
}

/* LÃĄtogatÃģszÃĄmlÃĄlÃģ stÃ­lusok */
.visitor-counter {
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #2c2c2c;
    color: #f5f5f5;
    border: 1px solid #33b864;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

body.light-theme .visitor-counter {
    background-color: #f4f4f4;
    color: #333;
}

/* TÃĐma vÃĄltÃģ gomb stÃ­lusai */
.theme-btn {
    padding: 10px 20px;
    background-color: #33b864;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.theme-btn:hover {
    background-color: #ff4949;
    transform: translateY(-2px);
}

.theme-btn:active {
    transform: translateY(1px);
}

/* View Project gomb */
.btn {
    padding: 8px 15px;
    background-color: #33b864;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    display: inline-block;
    font-size: 1rem;
}

.btn:hover {
    background-color: #ff4949; /* SzÃ­nvÃĄltÃĄs hoverkor */
    transform: scale(1.05); /* Finom nagyÃ­tÃĄs hoverkor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* ÃrnyÃĐk hoverkor */
}


/* AnimÃĄciÃģk */
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
